h1{
    text-indent: 3%;
}
.fist {
    color: blue;
    text-indent: 1%;
    background-color: aqua;
    margin-left: 10px;
}
.two {
    text-indent: 1%;
}
    img {
        float: right;
        margin: 0 0 10px 10px;
}
table {
    border: 1px solid #000;
    margin-left: 1%;
    border-collapse: collapse;
}
th,td {
        padding: 3px;
        border: 1px solid #000;
}
.three {
    color:rgb(32, 75, 154);
}
#name {
    margin-bottom: 5px;
}
#phylum {
    margin-bottom: 5px;
}